*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image:url(restaurant-menu-background_23-2147690916.jpg) ;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu
{
  background: rgb(255, 0, 0, 0.5);
  text-align: right;
}
.menu ul 
{
display: inline-flex;
list-style: none;
color: #fff;
}
.menu ul li 
{
    width: 20px;
    margin: 16px;
    padding: 16px;
}
.menu ul li a 
{
    text-decoration: none;
    color: #fff;
}
.container
{
  position: fixed;
  top: 70%;
  left: 35%;
  font-size: 40px;
  
}
.contain
{
  position: fixed;
  top:85%;
  left: 40%;
  font-size: 40px;
  border: 1px hotpink;
  background: rgb(238, 90, 53);
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px ;
  cursor:pointer;
  transition: 0.8s;
  
}
.design
{
    position: fixed;
  top:50%;
  left: 30%;
  font-size: 40px;
  border: 1px hotpink;
  background: rgb(238, 90, 53);
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px ;
  cursor:pointer;
  transition: 0.8s;
}
.btm
{
    background-color: #f44336;
    font-size: 24px;
    padding: 32px 16px;
    transition-duration: 0.4s
}
